body {
    background-color: rgb(247, 235, 235);
    display: grid;
    place-items: center;
}

h1 {
   text-align: center; 
   
   
}

h2 {
    text-align: center;
    margin-top: 0px;
    
}

.calculadora {
    width: 320px;
    margin: 0 auto;
    background-color: rgb(252, 252, 231);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
   
}

#pantalla {
    width: 100%;
    border-radius: 5px;
    height: 50px;
    text-align: right;
    font-size: 2em;
    

}

.boton {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin: 8px;
    background-color: rgb(253, 208, 208);
    border-radius: 5px;
    font-size: 1.5em;
    transition: background-color 0.2s;
}

.boton:hover {
    background-color: #ccc;
}

@media (max-width: 320px) {
    .calculadora {
        width: 180px;
    }

    .boton {
        width: 40px;
        height: 40px;
        font-size: 1.2em;
    }

    #pantalla {
        font-size: 1.5em;
    }
}